*{
    box-sizing: border-box;
    font-family: DFKai-sb;
    overflow: hidden;
}
.main{
    display: flex;
    width: 1024px;
    padding: 0 12px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* body內除了 aside section 都要上 border
   aside內 上 border(menu update)
   section內 上border(marquee content)
*/
body>*:not(aside,section) , aside>* , section>* {
    border: 1px solid grey;
}
/* top */
.top{
    flex-basis: 1000px;
    height: 65px;
    background-color: rgb(152, 170, 170);
}

/* aside */
.aside{
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display:flex;
    flex-direction: column;
}
/* aside menu */
.menu{
    flex-basis: calc(100% - 25px);
}
/* aside update */
.update{
    flex-basis: 25px;
}
/* section */
.section{
    flex-basis: calc((100% - 215px));
    display: flex;
    flex-direction: column;
}
/* section marquee */
.marquee{
    flex-basis: 29px;
}
/* section content */
.content{
    flex-basis: calc(100% - 29px);
}
/* footer */
.footer{
    flex-basis: 1000px;
}